* {
	margin: 0;
	/* color: white; */
	box-sizing: border-box;
	overflow-x: hidden;
	word-break: break-word;
	font-family: "Poppins", sans-serif;
}

div {
	margin: 15px;
}

h1 {
	padding: 15px 0;
	font-weight: bold !important;
	font-family: "IBM Plex Sans", sans-serif;
}

form label {
	font-weight: bold;
}

h3 {
	color: #ff6969cf !important;
}

/* #expenseList {
	margin: auto;
	margin-top: 15px;
	background-color: rgb(39, 29, 45);
  height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
} */

.lists {
	margin: 2px;
	padding: 0 15px;
	background-color: rgb(120, 54, 51);
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

.mybtn {
	margin: 0px 5px;
}

.mybtn {
	background: #0a1931;
	border: 2px solid white;
	border-radius: 10px;
	/* box-shadow: 5px 5px 5px #132c33; */
	width: auto;
	height: 50px;
	margin: 0px 10px;
	color: white;
	/* font-size: 10px; */
	cursor: pointer;
}

.mybtn:hover {
	background: #126e82;
}
